.flex-container {
    display: flex;
  }
  .container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid;
    background-color:yellowgreen;
    padding: 50px;
    resize: both;
    overflow: auto;
    }
    .container{
      display:flex;
      background-color:pink;
  }
  .flex-item{
      background-color: aqua;
      padding: 20px;
      margin: 10px;
      font-size: 30px;
  }